// Body
$body-bg: #0e0e0e;
$body-color: #fff;

// Links
$link-decoration: none;
$link-color: inherit;
$link-hover-color: inherit;

// p, headings
$paragraph-margin-bottom: 0;
$headings-margin-bottom: 0;

// Buttons
$btn-padding-x: 0;
$btn-padding-y: 0;
$btn-border-width: 0;
$btn-font-family: 'Inter', sans-serif;

// Typography
$font-family-sans-serif: 'Inter', sans-serif;
$font-size-base: 16;


$caret-width: 0;


// Nav-pills
$nav-pills-link-active-bg: #406ec1;
$nav-pills-link-active-color: #fff;
$nav-pills-border-radius: 15px;

